.container {
    margin-left: 50px;
    padding: 10px 0;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: #a7aaad;
}

.red {
    background: lightcoral;
}

.red-text {
    color: #5d4d4d;
}

.green {
    background: lightgreen;
}

.green-text {
    color: #394939;
}

.blue {
    background: #88bbe3;
}

.blue-text {
    color: #3b4850;
}

.yellow {
    background: #fcfcd1;
}

.yellow-text {
    color: #9f8320;
}