.affairs {
    padding: 40px 70px;
    background-color: lightgray;
}
.btn_container {

}
.btn {
    cursor: pointer;
    margin-right: 7px;
    border-radius: 3px;
}

.all_btn {
    color: #232222;
    border: 1px solid #3d3c3c;

}
.high_btn {
    background-color: #ffb9be;
    color: #232222;
    border: 1px solid lightcoral;

}
.middle_btn {
    background-color: #fafabc;
    color: #232222;
    border: 1px solid #adad4c;

}
.low_btn {
    background-color: #a1fca1;
    color: #232222;
    border: 1px solid green;

}