.affair {
    width: 270px;
    display: flex;
    background-color: #dddddd;
    margin-bottom: 5px;
    border-radius: 5px;

}

.deleteBtn {
    color: brown;
    cursor: pointer;
    font-size: 12px;
}

.affair_container {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
}

.name {
    padding-left: 5px;
    font-size: 17px;
    color: #232222;
}

.priority {
    font-size: 13px;
    color: #4d5264;
    align-self: end;
    padding-right: 5px;
}

