.container {
    position: fixed;
    top: 25px;
    left: 10px;
    transition-duration: 0.9s;
    height: 50px;
}

.navbar {
    width: 300px;
    position: fixed;
    top: 25px;
    left: -260px;
    transition-duration: 0.9s;
    height: 50px;
}
.container:hover {
    left: 260px;
}
.container:hover .navbar {
    left: 10px;
}

.link {
    margin: 10px;
    text-decoration: none;
    color: #4f5f66;
    padding: 10px 0;
}

.link:hover {

}
.link:active {

}

img {
}

.active {
    color: #539ed1;
    margin: 10px;
    text-decoration: none;
    padding: 10px 0;
}
